<div class="container">
    <div class="form-container">
        <div class="form-header">
            <h1>Login</h1>
            <p>Entre na sua conta para acompanhar suas compras</p>
        </div>

        <form class="form-body">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="exemplo@email.com" class="form-body-input" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="********" class="form-body-input" required>

            <div class="form-footer">
                <button type="submit">Entrar</button>
                <P>Não possui uma conta? <a href="/register">Crie aqui</a></P>
            </div>
        </form>
    </div>
</div>