<header>

    <div class="announcement">
        <p>Retire seu pedido rapidamente na loja!</p>
    </div>

    <div class="header-container">
        <div class="logo">
            Decorando
        </div>
        <div class="search-bar">
            <div class="search-input">
                <img src="/icons/search.png" alt="search">
                <input type="text" placeholder="O que você procura?">
            </div>
        </div>
        <div class="user-actions">
            <div class="account">
                <a href="/login">
                    <img src="/icons/user.png" alt="user">
                    <span>Minha conta</span>
                </a>
            </div>
            <div class="cart">
                <a href="#">
                    <img src="/icons/cart.png" alt="cart">
                    <span>Meu carrinho</span>
                </a>
            </div>
        </div>
    </div>

    <nav class="departments-container">
        <ul class="departments-list">
            <li><a href="#">Cozinha</a></li>
            <li><a href="#">Banheiro</a></li>
            <li><a href="#">Quarto</a></li>
            <li><a href="#">Área de Serviço</a></li>
            <li><a href="#">Sala de Estar</a></li>
            <li><a href="#">Sala de Jantar</a></li>
        </ul>
    </nav>

</header>