<footer>
    <div class="logo">
        Decorando
    </div>
    <div class="contact-container">
        <p>Atendimento ao Cliente:</p>
        <ul>
            <li>Telefone: (11) 1234-5678</li>
            <li>WhatsApp: (11) 00000-0000</li>
            <li>Email: decorandoemail.com</li>
        </ul>
    </div>
    <div class="contact-container">
        <p>Redes Sociais:</p>
        <ul>
            <li>Facebook: facebook.com/decorando</li>
            <li>Instagram: instagram.com/decorando</li>
            <li>Twitter: twitter.com/decorando</li>
        </ul>
    </div>
</footer>