footer{
    display: flex;
    background-color: var(--color-footer-background);
    color: white;
    font-family: 'Jost', sans-serif;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 1em 0;
}

.logo{
    font-family: 'Madimi One', cursive;
    color: white;
    font-size: 1.5em;
}

.contact-container p{
    font-size: 1.2em;
    font-weight: 500;
}

ul{
    list-style: none;
}

@media (max-width: 768px){
    footer{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8em;
        padding-left: 1em;
    }
}